/**********************************************************
/*                     Main Colors                
#f3d1dc  -  #f6a7c1   -  #fcf0cf  -  #fdcf76  -  #b16e4b
/**********************************************************/
body {
    background-color: rgb(239, 239, 239) ; 
}

main{
    /* padding: 20px; */
    /* background-color: #fcecdc; */
}
/******************************************
  /* Main Section | HEADER
/*******************************************/
header {
    display: flex;
    background-color: rgb(239, 239, 239) ;
    /* background:linear-gradient( #fcbca494 , rgba(244, 244, 244, 0.9)); */
    height: 100vh;
    width: 100%;

}
.page-header{
    display: inline-block;
    flex-direction: column;
    height: 25%;
    width: 100%;
    justify-content: center;
    align-self: center;
    background-color: #caebf2  ;
    position: fixed ;
    width: 100%;
}
.site-name
{
    display: flex;
    justify-content:center;
    color: #a9a9a9;
    font-family: 'El Messiri', sans-serif;
    font-size: 30px;
    position: sticky;
}
.nav-bar  {
    display: flex;
    justify-content:center;
    font-family:  Source Sans Pro;
    color:rgb(95, 131, 119);
    font-size: 20px;
    padding-right: 10px;
    }
ul{
    display: flex;
    list-style-type: none;
    text-decoration: none;

}

li {
    list-style: none;
    padding: 8px;
}
a{
    text-decoration: none;
}
 /* Change the link color on hover */
li a:hover {
    background-color: #a9a9a9;
    color: white;
}   
a:link, a:visited {
    color: #a9a9a9 ;
    text-decoration: none;
    cursor: auto;
  }
 a:link:active, a:visited:active {
    color: (internal value);
}
strong {
    display: flex;
    text-transform: uppercase;
}
h1{
    margin: 0% !important;
}
.foods{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.foodsUpper{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 70px;
}

.foodsLower{
    justify-content: center;
    align-items: flex-end;
    margin-top: 70px;

}
.foods img  {
    padding: 5px;
}

  /******************************************
  /* First Section | Keto Model
  /*******************************************/
  #section-1 {
      margin: 30px;
  }

.first-section {
    display: grid;
    grid-template-columns: 25% 75%;;
    justify-content: center;
    color: #438496b0;
    font-family: 'El Messiri', sans-serif;
    font-size: 45px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.397);
    margin-left:60px ;
    padding: 20px;
    width: 1130px;
    height: 300px;
    text-align: center;

}

.section-1-title{
    font-family:  sans-serif;
    font-size: 45px;
    color: #43849688;
    margin-right: 30px;
    background-color: rgba(255, 255, 255, 0.397);
    font-family: 'El Messiri', sans-serif;
    justify-content: center;
    padding: 20px;
    
    }
.section-1-content{
font-family:  sans-serif;
font-size: 20px;
color: #43849688;
background-color: rgba(255, 255, 255, 0.397);
font-family: 'El Messiri', sans-serif;
justify-content: center;
padding: 20px;

}


.fade-in{
    background-color: #0095A8;
    font-size: 20px;
}
  /******************************************
  /* Second Section | Keto Model
  /*******************************************/
#section-2 {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 30px;
}

.sectionn-tow-title{
    font-family: 'El Messiri', sans-serif;
    font-size: 30px;
    font-weight: bold;
    font-size: 45px;
    margin-right: 30px;
    color: #438496b0;
    display: flex;
    background-color: rgba(255, 255, 255, 0.397);
    background-size: 100%;
    height: 600px;
    width: 300px;
    justify-content: center;
    align-items: center;

}
.second-section{
display: flex;
font-family: 'El Messiri', sans-serif;
font-weight: bold;
font-size: 45px;
color: #438496b0;
text-align: center;
padding: 20px;
background-color: rgba(255, 255, 255, 0.397);
margin: 20px;
}

.life-cycle {
    color: #fcecdc;
    display: grid;
    width: 800px;
    height: 600px;
    align-items: center;    
    justify-content: center;
    grid-template-rows: 50% 50%;    
    grid-template-columns: 25% 25% 25%;
    background-color: rgba(255, 255, 255, 0.397);
}


/* .container1 {
    display: flex;
    width: 180px;
    height: 180px;
    clip-path: circle(40% at 50% 50%);
    background-color: #b16e4b;
    background-image: url('../images/others/1.jpg'); 
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;
    } */

.holder {
    display: flex;
    width: 120px;
    height: 120px;
    clip-path: circle(50% at 50% 50%);
    background-color: #D9D9D9;
    /* background-image: url('../images/others/1111.png'); */
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    padding: 20px;
}

.new-bg{
    text-align: center;
    text-justify: auto;
    color: #a9a9a9;
    font-size: 20px;
    font-weight: bold;
}

 /* Styling for the life cycle circles */

.first-c, .third-c{
    align-self: flex-end;
    margin-bottom: 20px;
    justify-self: center;

}

.forth-c, .sixth-c{
    align-self: flex-start;
    margin-top: 20px;
}

.second-c , .third-c  {
margin-top: 25px;
}

.fifth-c,.second-c{
margin-bottom: 25px;
justify-self: center;
}

.first-c,.forth-c{
    justify-self: center;
}

.third-c,.sixth-c{
    justify-self: center;
}

.first-c-bg{
background-image: url('../images/others/brainstorm\ \(1\).png'); 
}

.second-c-bg{
background-image: url('../images/others/breakfast.png'); 
}

.third-c-bg{
    background-image: url('../images/others/ketone-level.png'); 
}

.forth-c-bg{
background-image: url('../images/others/ketone.PNG'); 
}

.fifth-c-bg{
    background-image: url('../images/others/liver.png'); 
}
.sixth-c-bg{
    background-image: url('../images/others/waist.png'); 
}

/******************************************
  /* Stylinh for the character
  /*******************************************/

  .char {
    display: flex;
    justify-content: center;
    /* width: 150px;
    height: 150px;
    clip-path: circle(50% at 50% 50%);
    background-image: url('../images/Outfit-Character/0B.png');
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    background-color: rgb(216, 186, 186);
    font-size: 20px;
    position: absolute; */
    width: 150px;
    height: 150px;
    clip-path: circle(50% at 50% 50%);
    position:fixed;
    bottom: 0;
    right:0;
}
  /******************************************
  /* Third Section | Keto section-3-content
  /*******************************************/
.section-3{
    display: flex;
    background-color: rgba(255, 255, 255, 0.397);
    margin: 90px;
    width: 1170px;
}

.third-section{
    display: flex;
    font-family: 'El Messiri', sans-serif;
    font-weight: bold;
    font-size: 45px;
    color: #438496b0;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.397);
    margin: 20px;
    justify-content: center;

    }

.section-3-title{
    display: flex;
    font-family: 'El Messiri', sans-serif;
    font-weight: bold;
    font-size: 45px;
    color: #438496b0;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.397);
    margin: 20px;
    align-items: center;
    }
.section-3-content{
    display: grid;
    grid-template-rows: 50%;
    grid-template-columns: 20% 20% 20% 20% 20%;
    justify-content:space-evenly ;
    justify-content: center; 
    padding: 20px; 
    margin: 20px;
    background-color:  rgba(255, 255, 255, 0.397);
}

.section-3-content div {
    background-color: #caebf2;
    border: 6px solid rgba(255, 255, 255, 0.397) ;
    padding: 10px;
    
}
.section-3-content p {
    font-size: 15px;
    font-weight: bold;
    color: #a9a9a9;
    text-align: center;
    
}

.section-3-content span {
    font-size: 15px;
    color: #a9a9a9;
    text-align: center;
}
button {
    /* text-align: center;
    margin: auto;
    background-color: #f9e42e;
    color: black;
    font-family:'Oswald' , sans-serif;
    padding: 10px 50px;
    border-radius: 5px;
    letter-spacing: 1px;
    font-weight: bolder;
    box-shadow: inset 0 -3px 0 rgba(0,0,0,.2);  */
    border: none;
    background-color: #caebf2;
    background-image: url('../images/others/arrow.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 20px;
    margin: 5px;
    padding : 20px;
}

/* external css: flickity.css */

.main-carousel{
    height: 200px;
}
.carousel-cell {
  width: 28%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

.carousel-cell.is-selected {
  background: #ED2;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.recepie {
    height: 30%;
    font-family: 'El Messiri', sans-serif;
    font-weight: bold;
    color: #438496b0;
    font-size: 20px;
}

.coming-soon {
    text-align: center;
    font-family: sans-serif;
    line-height: 2;
    font-size: 15px;
    color: #a9a9a9;
    background-color: #caebf2;
    border-bottom: 10px solid rgba(255, 255, 255, 0.397);
}